<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include templates/flash.ejs %>
  <% include templates/navigation.ejs%>
  <h1 class="modal-header"><%= title %></h1>
  <p class="p-md-2">Welcome to <%= title %></p>
</body>
</html>
