<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include templates/flash.ejs %>
  <% include templates/navigation.ejs%>
  <h3 class="page-header">Welcome to <%= title %></h3>
  <!--<div>-->
    <!--<table class="table table-dark">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>-->
          <!--<a href="/">Title</a>-->
        <!--</th>-->
      <!--</tr>-->
      <!--</thead>-->
    <!--</table>-->
  <!--</div>-->
</body>
</html>
