<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h3>
        Your Book is now Listed!
        <br>
        Book ID: <%= book_id %>
    </h3>

    <a href="/"> Back to Home </a>
    </body>
</html>
