<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">

</head>

<body>
<img class="background book-bg" src="/images/bookshelf.jpeg">


    <% include templates/navigation.ejs%>
    <% if (errors.length > 0){ %>
        <% errors.forEach(function(item){ %>
            <div class="alert alert-danger"><%=item.msg%></div>
        <%})%>
    <%}%>
    <% include templates/flash.ejs %>
<div class="main-body container">
    <h3 class="page-header">Request a New Textbook</h3>
    <form method="post" action="/submit/setbook">
        <div class="form-group text-center">
            <label>Textbook Title</label>
            <input type="text" class="form-control" name="title" placeholder="Book Title">
        </div>
        <div class="form-group text-center">
            <label>Author</label>
            <input type="text" class="form-control" name="author" placeholder="Author">
        </div>
        <div class="form-group text-center">
            <label>Course</label>
            <input type="text" class="form-control" name="course" placeholder="Course">
        </div>
        <div class="form-group text-center">
            <label>Image URL</label>
            <input type="url" class="form-control" name="imageURL" placeholder="Image URL">
        </div>
        <div class="form-group text-center button">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
    <% include templates/footer.ejs%>
</body>
</html>