<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <form action="/submit" method="post">
            <input type="text" name="bookid">
            <button type="submit"> Submit </button>
        </form>
    </body>
</html>