<div class="header clearfix">
    <nav class ="navbar navbar-dark fixed-top">
        <a class="navbar-brand" href="/">PickleLeaf</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
            </li>
            <%if (!user){%>
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
            <%}%>
            <%if (user){%>
            <li class="nav-item">
                <a class="nav-link" href="/users/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sell">Sell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
            </li>
            <%}%>
        </ul>
    </nav>
</div>

<p class="nav-space"></p>